.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}

.addBtnG {
  padding: 5px 10px;
  background: rgb(15, 123, 224);
  color: aliceblue;
  border: 3px solid aqua;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 700px;
  margin-right: 700px;
  width: 200px;
  cursor: pointer;
}

.btnEditG {
  color: rgb(23, 187, 23);
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 2px;
  float: right;
}

.btnSaveG {
  color: rgb(23, 187, 23);
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 5px;
}

.guideCardG {
  margin: 20px;
  width: 600px;
  font-size: 1.05rem;
  border-radius: 10px;
  box-shadow: 0 0 6px 3px #f1f1f1;
  overflow: hidden;
  /* border-bottom: 5px solid #e0eaf7; */
  padding: 10px 40px;
  background-color: #d4dff0;
}

.flexG {
  color: black;
  display: flex;
  justify-content: space-around;
}

.formEditG label {
  margin-left: 640px;
  text-align: center;
  flex: 2;
  font-size: 20px;
}

.inputGuideline {
  /* background: hsl(207, 39%, 95%); */
  border: 1px solid rgb(83, 121, 245);
  /* padding: 0.35rem 0.5rem; */
  border-radius: 10px;
  width: 400px;
  padding: 4px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.formEditG input:active {
  border: 1px solid black;
}

.inputs {
  width: 80%;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
