.container {
  margin: 90px 0;
  margin-bottom: 10px !important;
}
.card {
  margin: 20px !important;
  width: 300px;
  font-size: 1.05rem;
  border-radius: 10px;
  box-shadow: 0 0 25px 12.5px #f1f1f1;
  overflow: hidden;
}


.card:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25);
}

.infected {
  border-top: 15px solid #2682fc;
  transition: 400ms;
}
 .infected:hover {
  border-top: 20px solid #1e75e6;
} 

.recovered {
  border-top: 15px solid rgb(21, 230, 38);
  transition: 400ms;
}
.recovered:hover {
  border-top: 20px solid rgb(21, 206, 36);
} 

.deaths {
  border-top: 15px solid rgb(230, 21, 73);
  transition: 400ms;
}
 .deaths:hover {
  border-top: 20px solid rgb(204, 16, 63);
} 
